@import './base';
@import './fonts';


.contact {
    display:flex;
    justify-content: center;
    height:auto;
    background-color: rgba(50, 147, 111, 0.7);
    color: white;
    .contact__text {
        width:30vw;
        p {
            padding:25%;
            font-size:1.5rem;
        }
    }

    .contact__info {
        width:30vw;
        p {
            padding:25%;
            font-size:1.5rem;
        }
    }
    form {
        display:flex;
        flex-direction:column;
        align-items: center;
        height:auto;
        width: 40vw;
        margin: 10vh auto;
        font-family: 'Montserat', sans-serif;
        
        label {
            width:300px;
            padding:20px;
            align-self: left;
        }

        textarea {
            width:300px;
            height:200px;
            border-radius:10px;
            padding:1rem;

        }

        button {
            border-radius:10px;
            border:0 solid;
            padding: 8px 16px;
            margin:2%;
        }

        input {
            width:300px;
            height:25px;
            border-radius:10px;
            border-style: 0px solid;
            padding:10px 20px;
        }
        input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
        
    }
}