@import './base';

footer {
    height:auto;
    text-align: center;
    background-color: rgba(56, 125, 122, 1);
    color: aliceblue;
    padding:20px;
    font-size:1.5rem;
    font-family: 'Mukta', sans-serif;
}