@import './base';
@import './fonts.scss';

.landing {
/*     border:1px solid green;
 */    height:90vh;
    display:flex;
}

.landing__big {
/*     border: 1px solid slateblue;
 */    width:50vw;
    background-color: white;
    color: #395e66;


    .landing__header {
        text-align: center;
        font-size:10rem;
/*         border:1px solid orange; */
    }
    .landing__subheader {
        text-align: center;
        font-size: 2rem;/* 
        border: 1px solid orange; */
    }
}
.landing__description {
    width:50vw;
    padding:3rem;
    font-size:2rem;
}