@import './base';
ul li {
    display:inline;
    margin:25px;  
    background-color:$color1;  
}
a {
    padding:8px 16px;
    border-radius: 10px;
    background-color:$color3;
}

ul {
    background-color: $color4;
    margin:0 auto;
    text-align:center;
    padding:20px;
    margin:2%;
}

.navigation {
    display:flex;
    justify-content: center;
    height:auto;
}


